= simple_form_for(@trouble, html: { class: 'form-horizontal' }) do |f|
  = f.error_notification
  .form-inputs
    = f.association :client
    = f.association :user, label_method: :email
    = f.input :range
    = f.input :state
    = f.input :detail
    .datepicker-wrapper
      = f.input :occupancy, as: :string, input_html: { class: 'datepicker' }
      = f.input :occur_date, as: :string, input_html: { class: 'datetime-picker' }
  .form-actions
    = f.button :submit
