%h2.text-center Detail
.jumbotron
  %p
    %strong Client:
    = @trouble.client_name
  %p
    %strong Range:
    = @trouble.range
  %p
    %strong State:
    = @trouble.aasm_state
  %p
    %strong Detail:
    = @trouble.detail
  %p
    %strong Occur Date:
    = @trouble.occur_date
  %p
    %strong Worker:
    = @trouble.user_email
  %p
    %strong Occupancy:
    = @trouble.occupancy
