
%h2.text-center Detail About Trouble
.jumbotron
  %p#notice= notice
  %p
    %strong Client:
    = link_to "#{@trouble.client_name}", client_path(@trouble.client_id)
  %p
    %strong User:
    = @trouble.user_email
  %p
    %strong Range:
    = @trouble.range
  %p
    %strong State:
    = @trouble.aasm_state
  %p
    %strong Detail:
    = @trouble.detail
  %p
    %strong Occupancy:
    = @trouble.occupancy
  %p
    %strong Occur Date:
    = @trouble.occur_date

= render 'assign_form' if policy(@trouble).assign?
= render 'work_link' if policy(@trouble).work?
= render 'close_link' if policy(@trouble).close?

= link_to troubles_path, class: 'btn btn-success' do
  %i.fa.fa-arrow-left
    %strong Back
