<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @trouble.client %>
</p>

<p>
  <strong>User:</strong>
  <%= @trouble.user %>
</p>

<p>
  <strong>Range:</strong>
  <%= @trouble.range %>
</p>

<p>
  <strong>State:</strong>
  <%= @trouble.state %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @trouble.detail %>
</p>

<%= link_to 'Edit', edit_trouble_path(@trouble) %> |
<%= link_to 'Back', troubles_path %>
