%p#notice= notice
%p
  %strong Client:
  = @trouble.client.name
%p
  %strong User:
  = @trouble.user.email
%p
  %strong Range:
  = @trouble.range
%p
  %strong State:
  = @trouble.state
%p
  %strong Detail:
  = @trouble.detail
%p
  %strong Occupancy:
  = @trouble.occupancy
= link_to 'Edit', edit_trouble_path(@trouble)
|
= link_to 'Back', troubles_path
