<div class="row">
<%= form_for grid, options do |f| -%>
  <% grid.filters.each do |filter| %>
    <div class="col-md-4 box">
      <div class="datagrid-filter filter form-group">
        <%= f.datagrid_label filter, class: 'control-label' %>
        <%= f.datagrid_filter filter, partials: options[:partials], class: "form-control" %>
      </div>
    </div>
  <% end %>
<div class="row">


  <div class="datagrid-actions col-xs-12">
    <div class="control-btn">
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
       <i class="fa fa-search"></i> Search
    <% end %>

    <%# https://github.com/rails/rails/pull/14949 -%>
    <% empty_parameter = Rails.version >= "4.1.0" && Rails.version <= '4.1.2' ? nil : {}-%>
    <%= link_to ('<i class="fa fa-refresh"></i> Reset').html_safe, url_for(grid.to_param => empty_parameter), :class => "datagrid-reset btn btn-danger" %>
    </div>
  </div>
  </div>
<% end -%>
</div>
