- if policy(client).show?
  = link_to client, class: 'btn btn-success btn-xs' do
    = fa_icon 'eye'
    Show
  |
- if policy(client).edit?
  = link_to edit_client_path(client), class: 'btn btn-primary btn-xs' do
    = fa_icon 'edit'
    Edit
  |
- if policy(client).destroy?
  = link_to client, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' do
    = fa_icon 'trash'
    Remove
