%p#notice= notice
= datagrid_form_for @clients, url: clients_path
%h1 Clients

- if policy(:client).new?
  = link_to new_client_path, class: "btn btn-primary" do
    = fa_icon 'plus'
    Client

%br
= datagrid_table(@clients)
