%h2.text-center Detail About Client
.jumbotron
  %p
    %strong Name:
    = @client.name
  %p
    %strong Id number:
    = @client.id_number
  %p
    %strong Phone:
    = @client.phone
  %p
    %strong Email:
    = @client.email
  %p
    %strong Address:
    = @client.address

- if policy(@client).index?
  = link_to clients_path, class: 'btn btn-success' do
    = fa_icon 'arrow-left'
    %strong Back
  |

- if policy(@client).edit?
  = link_to edit_client_path(@client), class: 'btn btn-primary' do
    = fa_icon 'edit'
    Edit
