.row
  .col-sm-6
    = link_to "Open (#{@troubles.in_open_state.count})", troubles_path(:troubles_grid => {:aasm_state => 'open'}), class: 'btn btn-default btn-dashboard'
  .col-sm-6
    = link_to "Assigned (#{@troubles.in_assigned_state.count})", troubles_path(:troubles_grid => {:aasm_state => 'assigned'}), class: 'btn btn-default btn-dashboard'
.row
  .col-sm-6
    = link_to "Working (#{@troubles.in_working_state.count})", troubles_path(:troubles_grid => {:aasm_state => 'working'}), class: 'btn btn-default btn-dashboard'
  .col-sm-6
    = link_to "Closed (#{@troubles.in_closed_state.count})", troubles_path(:troubles_grid => {:aasm_state => 'closed'}), class: 'btn btn-default btn-dashboard'
