.row
  .col-sm-6
    = link_to "Assigned (#{@troubles.assigned.count})", troubles_path(:troubles_grid => {:aasm_state => 'assigned'}), class: 'btn btn-default btn-full-width'
  .col-sm-6
    = link_to "Working (#{@troubles.working.count})", troubles_path(:troubles_grid => {:aasm_state => 'working'}), class: 'btn btn-default btn-full-width'
.row
  .col-sm-6
    = link_to "Closed (#{@troubles.closed.count})", troubles_path(:troubles_grid => {:aasm_state => 'closed'}), class: 'btn btn-default btn-full-width'
