!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TroubleTicket
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{id: "#{controller_name}-#{params[:action]}"}
    / <p class="notice"><haml_silent></haml_silent></p>
    / <p class="alert"><haml_silent></haml_silent></p>
    = render 'shared/header'
    .container
      = yield
